# Exercise 2: Basic Statistics

---

## House Prices - Advanced Regression Techniques

Link: https://www.kaggle.com/c/house-prices-advanced-regression-techniques

In [4]:
import numpy as np
import pandas as pd

Import the “train.csv” data from the downloaded data folder (has four files) in Jupyter Notebook.

In [5]:
houseprice = pd.read_csv('train.csv')
houseprice

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

What are the data types (“dtypes”) – Numeric/Categorical – of the variables (columns) in the dataset?

In [7]:
print(houseprice.dtypes)

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
                  ...
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 81, dtype: object

Extract only the variables (columns) of type Integer (int64), and store as a new Pandas DataFrame.

In [63]:
int_houseprice = pd.DataFrame(houseprice.select_dtypes('int64'))
clean_houseprice = int_houseprice.drop(columns=['Id', 'MSSubClass', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd', 'BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF'], axis='1')
clean_houseprice

,LotArea,TotalBsmtSF,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,8450,856,856,854,0,1710,1,0,2,1,...,0,61,0,0,0,0,0,2,2008,208500
1,9600,1262,1262,0,0,1262,0,1,2,0,...,298,0,0,0,0,0,0,5,2007,181500
2,11250,920,920,866,0,1786,1,0,2,1,...,0,42,0,0,0,0,0,9,2008,223500
3,9550,756,961,756,0,1717,1,0,1,0,...,0,35,272,0,0,0,0,2,2006,140000
4,14260,1145,1145,1053,0,2198,1,0,2,1,...,192,84,0,0,0,0,0,12,2008,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,7917,953,953,694,0,1647,0,0,2,1,...,0,40,0,0,0,0,0,8,2007,175000
1456,13175,1542,2073,0,0,2073,1,0,2,0,...,349,0,0,0,0,0,0,2,2010,210000
1457,9042,1152,1188,1152,0,2340,0,0,2,0,...,0,60,0,0,0,0,2500,5,2010,266500
1458,9717,1078,1078,0,0,1078,1,0,1,0,...,366,0,112,0,0,0,0,4,2010,142125
1459,9937,1256,1256,0,0,1256,1,0,1,1,...,736,68,0,0,0,0,0,6,2008,147500

What does the .describe() method do? Use the .describe() method on the imported dataset to check.

ValueError: Need to specify at least one of 'labels', 'index' or 'columns'